/*.mdl-layout__header{*/
/*  background: url('../img/transparent.jpg') center / cover;*/
/*  max-height: 250px;*/
/*}*/

/*.demo-layout-transparent .mdl-layout__header,*/
/*.demo-layout-transparent .mdl-layout__drawer-button {*/
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
/*  color: white;*/
/*}*/

/*.mdl-layout__header{*/
/*  background-color: #2E2E2E;*/
/*}*/

/*.mdl-layout__content{*/
/*  position:relative;*/
/*  display:block;*/
/*  clear:both;*/
/*}*/

/*.a4p-slogan{*/
/*  font-size: 500;*/
/*  font-weight: 700;*/
/*}*/

.a4p-logo{
  padding-top:60px;
  width:100%;
  height: 160px;
}

.section {
  padding-top:50px;
  max-width:80%;
  min-height:150px;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 30px;
}

.section-title{
  margin-bottom: 20px;
}

.section-partners img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
}

dark-section {
  
}

.home-section{
  /*background: url('../img/home-transparent.jpg') center / cover;*/
  /*height: 350px;*/
  /*background-size: cover;*/
  width: 100%;
  height: 350px;
  display: block;
  position: relative;
}

.home-section::after {
  content: "";
  background-size: cover;
  background: url('../img/home-transparent.jpg') center / cover;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.case-studies-card.mdl-card {
  width: 400px;
}

.blog-section {
  padding-top: 50px;
}