{{ "<!-- About section -->" | safeHTML }}
<section class="section about-section mdl-typography--text-center">
    <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast section-title">
        {{ .Site.Params.content.about.title  }}
    </div>
    <p class="mdl-typography--font-light mdl-typography--text-left">
        Wir sind spezialisiert auf Data Center Projektmanagement.
    </p>
    <p class="mdl-typography--font-light mdl-typography--text-left">Mit <em>Zuhören</em> beginnt unsere Partnerschaft</p>
    <p class="mdl-typography--font-light mdl-typography--text-left">Das <em>Projekt</em> planen wir zusammen</p>
    <p class="mdl-typography--font-light mdl-typography--text-left">Die <em>Umsetzung</em> nach Ihren Bedürfnissen</p>
    <p class="mdl-typography--font-light mdl-typography--text-left">Gemeinsam zu Ihrem <em>Erfolg</em> unser vereinbartes Ziel</p>
</section>