{{ "<!-- About section -->" | safeHTML }}
<section class="section about-section mdl-typography--text-center">
   <div class="mdl-grid fixed-width ">
        <div class="section__block mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
            <p class="section__titles">About Us</p>
        </div>
      <div class="section__block mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-typography--text-justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </div>
</div>
</section>