{{ "<!-- footer -->" | safeHTML }}
<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer__top-section">
    <div class="mdl-mega-footer__left-section">
      <h1 class="mdl-mega-footer__heading">Contact us</h1>
      <ul class="mdl-mega-footer__link-list">
        <p>A4P.ch GmbH<br />
        Föhrenweg 2<br />
        8483 Kollbrunn<br />
        christian.giddey{at}a4p.ch<br />
        phone: +41 79 644 3221</p>
      </ul>
    </div>
  </div>
  <div class="mdl-mega-footer__bottom-section">
    <div class="mdl-mega-footer__left-section">
        <p>MWST: CHE-203.054.660</p>
      </ul>
    </div>
  </div>
</footer>