{{ "<!-- Partners section -->" | safeHTML }}
<section class="section partners-section mdl-typography--text-center">
   <div class="mdl-grid fixed-width">
        <div class="section__block mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
            <p class="section__titles">Partners</p>
        </div>
      <div class="section__block mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-typography--text-left">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </div>
       <div class="section__block mdl-cell mdl-cell--3-col mdl-typography--text-left">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </div>
    </div>
</section>